/***
*
*global style
*
*/

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  color: #888888;
  margin: 0;
}
input{
  color: inherit;
  font-size: inherit;
  letter-spacing: 1px;
  border: 0;
  outline: none;
  padding-left: 10px;
}
select{
  color: inherit;
  font-size: inherit;
  background-color: transparent!important;
  border: 0;
  outline: none;
  padding-bottom: 3px;
}
button{
  font-size: inherit;
  border: 0;
  outline: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/***
*
*frame
*
 */
.mint-toast{
  z-index: 9999;
}
